.parent-container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  .flex-container {
    align-items: center; /* Centers items vertically */
    flex-direction: row;
    width: 100%;
  }

.customer-info{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F1F7FE;
}

.delivery-method{
    border: 1px solid black;
    border-radius: 2px;
}