<div class="parent-container">
  <div class="flex-container">
    <div class="delivery-container">
      <div class="customer-info">
        <form [formGroup]="costumerForm" class="custumerForm">
          <input
            id="Name"
            type="text"
            formControlName="Name"
            placeholder="Enter Name"
          />

          <input
            id="Lastname"
            type="text"
            formControlName="Lastname"
            placeholder="Enter Lastname"
          />

          <input
          id="Age"
          type="number"
          formControlName="Age"
          placeholder="0"
          />

          <input
            id="Address"
            type="text"
            formControlName="Address"
            placeholder="Enter Address"
          />

          <input
            id="City"
            type="text"
            formControlName="City"
            placeholder="Enter City"
          />

          <input
            id="PostNumber"
            type="text"
            formControlName="PostNumber"
            placeholder="Enter Post Number"
          />

          <input
            id="PhoneNumber"
            type="text"
            formControlName="PhoneNumber"
            placeholder="Enter Phone Number"
          />

          <input
            id="Mail"
            type="email"
            formControlName="Mail"
            placeholder="Enter Email"
          />
          <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter password"
        />
        </form>
      </div>
      <div class="delivery-method">
        <div class="delivery-info">
          <h1>Leverings metode</h1>
          <h3>* Hurtigst mulig</h3>
          <h5>Vi levere det foran din dør hurtigst mulig.</h5>
          <button (click)="handleclick()">Bekræft odre</button>
        </div>
      </div>
    </div>
  </div>
</div>
