.parent-container {
  display: flex;
  align-items: center; /* Centers children vertically */
  height: 100vh; /* Full viewport height */
  top: 0%;

}
.flex-container {
  display: flex;
  justify-content: center;
  gap: 220px;
}
.pictures {
  width: 35vw;
  height: 52.9vh;

  aspect-ratio: attr(width) / attr(height);

}

.produkt-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.produkt-info input {
  width: 100px;
}
.price-input-container {
  display: flex;
  align-items: center; /* This ensures the h3 and input are vertically aligned */
}

.price-input-container h3 {
  margin-right: 60px; /* Adjust the value as needed */
}
.product-btn button {
  width: 25vw;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: #2dc7ff;
  color: white;
}
.parent-container {
  justify-content: center;
}

@media screen and (max-width:768px) {
  .flex-container {
    width: 50vw;
    height: 46vh;
    flex-wrap: wrap;
  }
  .product-btn button {
    width: 45vw;
  }

  .pictures {
    width: 50vw;
    height: 45vh;
  
  }
}